@model DomainRoutineApp.Models.Requests.Exercise.AddExerciseToRoutineRequestModel



@inject DomainRoutineApp.Services.Interfaces.IExerciseService _exerciseService
@inject DomainRoutineApp.Services.Interfaces.IDayService _dayService
 
@{
    ViewData["Title"] = "Create Routine";
    Layout = "_Layout";
    var Exercises = await _exerciseService.GetAllUserExercises();
}

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container-fluid">
        <h5 class="section-title h1">Your Exercises</h5>
        <div class="row">

            @{
                for (int i = 0; i < Exercises.Count; i++)
                {

                    <h2>@Exercises[i].Item1</h2>
                    <h4>Count: @Exercises[i].Item2.Count</h4>

                    if (Exercises[i].Item2.Count != 0)
                    {
                        foreach (var exercise in Exercises[i].Item2)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip">
                                    <div class="mainflip flip-0">
                                        <div class="frontside">
                                            <div class="card">

                                                @{
                                                    if (exercise.IsInTheRoutine)
                                                    {
                                                        <div class="alert-success">
                                                            Added!
                                                        </div>
                                                    }
                                                }


                                                <div class="card-body text-center">
                                                    <img class="img-fluid" src="@exercise.Images[0]" alt="card image">
                                                    <h4 class="card-title">@exercise.ExerciseName</h4>

                                                </div>

                                                @{
                                                    if (!exercise.IsInTheRoutine)
                                                    {
                                                        <div class="container">
                                                            <form method="post" asp-action="AddExercise">

                                                                <div class="form-group">
                                                                    <label asp-for="Days"></label>
                                                                    <select asp-for="Days" multiple>
                                                                        @{
                                                                            foreach (var day in await _dayService.GetAllDaysAsync())
                                                                            {
                                                                                <option value="@day.Id">@day.DayName</option>
                                                                            }
                                                                        }
                                                                    </select>

                                                                </div>

                                                                <input asp-for="ExerciseId" hidden value="@exercise.ExerciseId" />

                                                                <div class="form-group">
                                                                    <label asp-for="Sets"></label>
                                                                    <input asp-for="Sets" />
                                                                </div>


                                                                <div class="form-group">
                                                                    <input type="submit" value="Add" class="btn btn-primary" />
                                                                </div>

                                                            </form>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="btn btn-danger">
                                                            <a href="/Exercise/RemoveExercise/@exercise.ExerciseId">Remove</a>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    <br />
                    <hr />
                    <br />
                }
            }

        </div>
    </div>
</section>

