
@model RoutineCoreApp.Models.ExerciseCarouselModel

@{ 
    string id = "myCarousel"+Model.ExerciseId;
}

<div id="@id" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#@id" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#@id" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#@id" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner">


        @{
                for (int i=0; i < Model.Images.Count; i++)
                {
                    string Class = "carousel-item";

                    if (i == 0) Class = "carousel-item active";

                    <div class="@Class">

                        <img class="d-block w-100" src="@Model.Images[i]" />

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>@Model.ExerciseName</h1>
                            <p>This exercise belongs to the @Model.ExerciseCategory category</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
            }
        }

    </div>



    <button class="carousel-control-prev" type="button" data-bs-target="#@id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#@id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>